.nyc_output/
.vscode/
reports/
node_modules/
dist/
work/
/server.yml
/user.yml
logs
*.log
npm-debug.log*
/.idea/codeStyles/codeStyleConfig.xml
/index.js
/.idea/instant-mock.iml
/bin/instant-mock-rest-api
/bin/instant-mock-rest-api-init
/bin/instant-mock-rest-api-start
/.idea/modules.xml
/package-lock.json
/.idea/codeStyles/Project.xml
/.idea/inspectionProfiles/Project_Default.xml
/test/script.js
/.idea/JetClient/state.xml
/.idea/shelf/Uncommitted_changes_before_rebase__Changes_.xml
/.idea/vcs.xml
/.idea/workspace.xml
